@tailwind base;

@layer base {
  html,
  body,
  #root {
    height: 100%;
    @apply bg-grey-100 text-grey-800;
  }
}

@tailwind components;

@layer components {
  .staggered-item {
    animation-name: animateIn;
    animation-duration: 250ms;
    animation-delay: calc(var(--animation-order) * 100ms);
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
  }

  @keyframes animateIn {
    0% {
      opacity: 0;
      transform: scale(0.8) translateY(-32px);
    }

    100% {
      opacity: 1;
    }
  }
}

@tailwind utilities;
